@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner) {
    <div id="cookieConsent" class="text-uppercase alert alert-inverse alert-dismissible fade show" role="alert">
        <strong class="text-center">Este site trabalha com cookies. </strong><a asp-area="" asp-controller="Home" asp-action="Privacy" class="btn btn-dark">Saiba mais</a>
        <button type="button" data-dismiss="alert" data-cookie-string="@cookieString" class="btn btn-rose pull-right accept-policy">
            <span aria-hidden="true">Aceitar</span>
        </button>
        @*<button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Fechar" data-cookie-string="@cookieString">
                <span aria-hidden="true">Aceitar</span>
          </button>*@
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}
