@model live.travel.solution.Models.ViewModels.FormViewModel

@{Layout = null;}

<form action="/Dashboard/AproveAccount" method="post">

    <input value="@Model.Id" name="id" hidden />
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Confirmar Membro?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <i class="material-icons">clear</i>
            </button>
        </div>
        <div class="modal-body">
            <p>Cliente já foi cadastrado na plataforma da World Ventures e agora faz parte da equipe?</p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
</form>
