@model live.travel.solution.Models.ViewModels.FormViewModel

@{
    Layout = null;
}

<form asp-controller="Dashboard" asp-action="Remove">
    <input asp-for="Id" hidden />
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Remover Formulário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <i class="material-icons">clear</i>
            </button>
        </div>
        <div class="modal-body">
            <p>Insira as observações no campo a baixo o motivo por desclassificar este formulário</p>
            <textarea type="text" class="form-control" placeholder="Justifique o motivo pelo qual esta sendo desclassificado..." name="Detail" rows="5" value=""></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal">Confirmar</button>
        </div>
    </div>
</form>
