<body class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true"></div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <h1 class="text-danger">Página em construção</h1>
                        <h3>
                            Para maiores informações ou solicitações entre em contato com nosso <a href="mailto:lucas.moraes.dev@gmail.com">administrador</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>